.failed svg > * {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.failed svg line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
}

.failed {
    color: var(--error);
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}